---
import Layout from "../layouts/Layout.astro";
import ImgContainer from "../components/ImgContainer.astro";

import "../styles/global.css";


import project_manager from '../assets/images/project-manager.png';
import schematic_view from '../assets/images/schematic-view.png';
import edited_title from '../assets/images/editied-title-block.png';
import page_settings from '../assets/images/page-settings.png';
import sch_symbols from '../assets/images/sch_symbols.png';
import symbol_lib from '../assets/images/symbol_lib.png';
import symbol_properties from '../assets/images/symbol-properties.png';
import ERC_errors from '../assets/images/ERC-sch-errors.png';
import ERC_good from '../assets/images/ERC_good.png';
import PCB_setup from '../assets/images/PCB-board-setup.png';
import PCB_view from '../assets/images/PCB-view.png';
import PCB_edge from '../assets/images/PCB-edge-cuts.png';
import PCB_preview from '../assets/images/PCB-preview.png';
import Exporting from '../assets/images/exporting.png';
---
<!-- 
Topic is introduced and clearly motivated (why is new tech useful/interesting/important?)

Technology is described in sufficient detail to permit the reader to implement or leverage this new tech.	
	
Writing or spoken language quality (spelling, grammar, writing style).
	
Overall presentation (use of figures, tables, illustrations, etc.
-->
<Layout>
    <!-- intro -->
    <section id="intro">
        <h2>Introduction</h2>
        <h3>What is KiCad?</h3>
        <p>KiCad is an <b>Electronic Design Automation (EDA) software suite</b> used to design electronic circuits and printed circuit boards (PCBs). EDA tools provide software environment engineers use to create, and verify electronic designs before they are manufactured. The software essentially creates a simulated design environment where circuits can be developed and analyzed before committing to production</p>
        <h3>Why KiCad Specifically?</h3>
        <p>KiCad is one of the best <b>free, open-source, and accessible to beginners.</b> Unlike many commercial EDA tools, KiCad does not require expensive licenses, making it an excellent choice for students, hobbyiest and professional engineers alike Another advantage of KiCad is its <b>large community of contributors.</b> Because the software is open-source, developers continuously improve it resulting in an abundance of learning resources and pre-existing component libraries. Additionally, KiCad is available on all main stream operating systems including <b>Windows, Mac and Linux</b></p>
        <p>Learning to design a PCB can significantly improve the quality of a project. While breadboards and jumper wires are useful for early prototyping, they can become unreliable and difficult to manage as a systems grows more complex. A PCB provides a <b>compact, organized and durable way</b> to integrate components and microcontrollers.</p>
        <p>In this tutorial, you will build a simple resistor + LED circuit to learn the basic workflow for designing a PCB using KiCad. By the end, you will understand how to create a project, design a schematic, build a PCB layout and generate the files required for manufacturing.</p>
    </section>

    <!-- install kicad -->
    <section id="install">
        <h2>Installing KiCad</h2>

        <p>Installing KiCad is straight-forward.</p>
        <ol>
            <li>First visit the <a class="cursor-pointer underline" href="https://www.kicad.org/download/">official KiCad website downloads page</a>. Make sure to select the installer that matches your system architecture. Most modern systems require the 64-bit pattern.</li>
            <li>Download and run the installer keeping the default settings, which are recommended for beginners.</li>
            <li>Once the installation is complete, launch KiCad</li>
        </ol>
        <p>After opening KiCad, you will see the <b>Project Manager</b>, which is the main interface used to manage your projects.</p>
    </section>

    <!-- setting up dev env -->
    <section id="setup">
        <h2>Setting Up a Developer Environment</h2>
        <p>Now that KiCad is installed, you can create and name your first project under <code>File &rarr; New Project</code>. It is recommended to have a KiCad workspace directory for all of your projects. Once the project is created, you will see three new files in your project folder.</p>
        <!-- Project Manager -->
        <ol>
            <li><code>.kicad_pro</code> being the main project file.</li>
            <li><code>.kicad_sch</code> and <code>.kicad_pcb</code> for the schematic and PCB design file. These files work together to define the electrical and physical aspects of your PCB</li>
        </ol>
        <ImgContainer src={project_manager.src} />
        <p>After confirming your project has created successfully, double clicking on the <code>.kicad_sch</code> file will open the KiCad Schematic Editor.</p>
    </section>

    <!-- editing a schematic -->
    <section id="sch">
        <h2>Editing a Schematic Layout</h2>

        <h3>Understanding the Layout</h3>
        <p>Before creating the physical layout of the PCB, the electrical design must first be defined in a <b>schematic diagram.</b> The schematic describes how each component connects electrically rather than their physical placement on the board. You can view the schematic by double clicking the <code>.kicad_sch</code> file to open the KiCad Schematic Editor.</p>
        <ImgContainer src={schematic_view.src} />
        <p>Components are represented using <b>symbols</b> while the electrical connections between them are known as <b>nets</b>. Each symbol must be associated with a <b>footprint</b> which determines how the component will appear on the physical PCB later in the design process. Once the schematic is complete and verified, it servers as a foundation when transferred to the PCB editor for creating the layout.</p>

        <h3>Sheet Setup</h3>
        <p>This information helps organize documentation and is commonly included in engineering deliverables.</p>
        <ol>
            <li>Open <b>Page Settings</b> under <code>File</code></li>
            <li>Fill in the <b>Title Block</b>. It is recommended to at least configure the <b>project name, author and revision</b></li>
        </ol>
        <ImgContainer src={page_settings.src} />
        <ImgContainer src={edited_title.src} />
    
        <h3>Adding and Wiring Components</h3>
        <p>KiCad libraries are included with the installer and contain a wide range of commonly used components. In many cases, these built-in symbols can be used instead of importing custom ones, as long as the associated footprint matches the physical component being used.</p>
        <ol>
            <li>Select the <b>Add Symbol</b> tool</li>
            <li>Search for the component in the <b>symbol library</b></li>
            <li>Place the symbol on the schematic</li>
        </ol>
        <ImgContainer src={symbol_lib.src} />
        To build the LED circuit, follow these steps.
        <ol>
            <li>In the <b>Device</b> library, search for a resistor value <code>R</code>, and LED value <code>LED</code></li>
            <li>After placing your components on the schematic you will see another numbered value appearing on the schematic which is the <b>Reference Number.</b> It is important you verify that all you references are in order before moving to the PCB Editor because KiCad will use them when transferring data to the <code>.kicad_pcb</code> file. </li>
            <li>A simple way to verify that all reference numbers are correct using the <b>Annotate Schematic</b> tool which will automatically assign references to components. For this example, we can skip this step since we are only working with three components</li> 
            <li>Now place the <b>Raspberry Pi Pico</b> found in the <b>MCU_Module</b> library. (Using an RPi2 would be a little overkill for this demo. The Pico includes a USB connecter and regulator allowing us to focus explicitly on the LED circuit)</li>
        </ol>
        <p>Note that the <code>GND</code> symbols are found in <b>KiCad's Power Symbol Library.</b></p>
        <ImgContainer src={sch_symbols.src} />
        <p>Once the components are placed, we need to assign values and footprints to the components. Although KiCad will function without assigning any values, specifying them now saves time later when generating the <b>Bill of Materials</b> for manufacturing. (More on BOM later) Right click a component and select <code>Properties</code>. Here you can assign it's value and footprint. </p>
        <ImgContainer src={symbol_properties.src} />
        <p>Heres a list of footprints that I used</p>
        <ul class="pl-6 list-disc mb-2.5">
            <li><code>Resistor_SMD:R_0201_0603Metric</code> with a resistance value of <b>220&Omega;</b></li>
            <li><code>LED_SMD:LED_0201_0603Metric</code></li>
            <li><code>Module:RaspberryPi_Pico_W_SMD_HandSolder</code></li>
        </ul>
        <p>Now that you are satisfied with all your components, connecting them with <b>wires is pretty easy</b></p>
        <ol>
            <li>Select the <b>Wire</b> tool</li>
            <li>Connect the pins of components to form the <b>electrical nets</b></li>
        </ol>
        <p>This process assigns the physical relations to each component so that KiCad can later place them on the PCB layout without having to redefine all the connections.</p>
    </section>

    <!-- editing a PCB -->
    <section id="pcb">
        <h2>Editing a PCB Layout</h2>
        <h3>Moving from Schematic to PCB</h3>
        <p>After the schematic is complete, run the <b>Electrical Rule Checker</b> tool and lookout for any errors or warnings. <b>Errors</b> indicate <b>serious issues</b> that will likely cause the PCB to fail. These should always be addressed before manufacturing. <b>Warnings</b> indicate situations that could potentially be fatal.</p>
        <ImgContainer src={ERC_errors.src} />
        <p>You can see I have 34 errors and 0 warnings. This can be attributed to the ERC default configuration which assumes every pin should be connected. Let's add <code>No Connect Flags</code> so KiCad knows the pin is intentionally not connected. Run the ERC again and verify if all tests passed.</p>
        <ImgContainer src={ERC_good.src} />
        <p>Select <code>Switch to PCB Editor</code> to open <b>KiCad's PCB Editor</b></p>

        <h3>Understanding the PCB Editor</h3>
        <p>Here is where you an place component footprints on the board, route electrical traces between components and define the physical board shape and layers</p>
        <p>Before routine the PCB, configure the board settings. Open <b>Board Setup.</b></p>
        <ImgContainer src={PCB_setup.src}/>
        <p>Here is where you define:</p>
        <ul class="pl-6 list-disc mb-2.5">
            <li><code>Board Stack</code> the number of layers and copper configurations</li>
            <li><code>Design Rules &rarr; Net Classes</code> rules that control trace widths and spacing for different electrical signals</li>
            <li><code>Design Rules &rarr; Constraints</code> to specify manufacturing limits. (trace spacing, track width, etc...)</li>
        </ul>
        <p><b>You must ensure the Design Constraints match the capabilities of the PCB manufacturer. Setting these rules early prevents design errors.</b></p>

        <h3>Formatting the PCB</h3>
        <p>Begin by selecting <b>Update PCB from Schematic</b> to import the logic over to the PCB. You should see little <b>ratsnets lines</b> which represent unrouted connections that need to be traced.</p>
        <ImgContainer src={PCB_view.src}/>
        To trace connections:
        <ol>
            <li>Select <code>Single Track</code> and trace the connection</li>
            <li>For complex circuits, utilizing the <b>Back Copper Layout</b> to trace connections can be useful to avoid large detours. When drawing a trace, place a <b>Vias</b> to switch between the front and back side.</li>
            <li>See the right toolbar under <b>Appearance</b> to know what layer you are tracing on.</li>
        </ol>
        <p>After completing the traces to all connections, define the board edges by choosing <code>Edge.Cuts</code> under <b>Appearance</b> and selecting <b>Draw Rectangle</b></p>
        <ImgContainer src={PCB_edge.src} />
        <p>Previewing the PCB to ensure that the board layout appears as expected. Select <code>View &rarr; 3D Viewer</code></p>
        <ImgContainer src={PCB_preview.src} />
        <p>Run the <b>Design Rules Checker</b> to be sure we are not violating any major rules before exporting our production files.</p>
    </section>

    <!-- exporting production files -->
    <section id="gerbers">
        <h2>Exporting Production Files</h2>
        <p>The final step is exporting the files required for manufacturing:</p>
        <ImgContainer src={Exporting.src} />
        <ol>
            <li>Select <code>File &rarr; Plot</code></li>
            <li>Select the output directory for your files. It is recommended to create a separate folder from your design files.</li>
            <li>The only layers to include are the front and back <b>copper layers</b> <code>F/B.Cu</code>, the front and back <b>silkscreen layers</b> <code>F/B.Silkscreen</code>, the front and back <b>mask layers</b> <code>F/B.Mask</code> and finally the <b>edge cuts layer</b> <code>Edge.cuts</code></li>
            <li>Select <code>Plot</code></li>
            <li>Next select <code>Generate Drill Files &rarr; Generate</code></li>
        </ol>
        <p>To verify your production files generate properly:</p>
        <ol>
            <li>Open the <b>Project Manager</b> and run the <b>Gerber Viewer</b></li>
            <li>Create a <code>.zip</code> file with all the production files and drag it in the <b>Gerber</b> window</li>
            <li>Turn on all the layers to view</li>
        </ol>
    </section>

    <!-- end note -->
    <section id="end" class="mb-10">
        <h2>End Note</h2>
        <p>This tutorials skips over how to create custom symbols and footprints. Student's utilizing components that are not "main stream" will have to view additional resources in order to learn. I highly recommend students consult the <a href="https://docs.kicad.org/9.0/en/getting_started_in_kicad/getting_started_in_kicad.html" class="underline">Official Getting Started with KiCad Documentation</a> when facing difficulties.</p>
    </section>

    <!-- references -->
    <section id="references" class="mb-10 rounded-2xl shadow-shadow pb-6 px-6">
        <h2>References</h2>
        <ul class="list-disc pl-6 ref-class">
            <li>J. Eveans, G. Keeth. "Introduction." KiCad. Mar. 8, 2026. [Online.] Available: <a href="https://docs.kicad.org/9.0/en/introduction/introduction.html" class="underline cursor-pointer">https://docs.kicad.org/9.0/en/introduction/introduction.html</a></li>
            <li>G. Keeth, J. Evans, G. Peterson. "Getting Started in KiCad." KiCad. Mar. 8, 2026. [Online.] Available: <a href="https://docs.kicad.org/9.0/en/getting_started_in_kicad/getting_started_in_kicad.html" class="underline cursor-pointer">https://docs.kicad.org/9.0/en/getting_started_in_kicad/getting_started_in_kicad.html</a></li>
            <li>J. Charras, F. Tappero, J. Evans, G. Keeth. "KiCad 9.0 Reference Manual." KiCad. Mar. 8, 2026. [Online.] Available: <a href="https://docs.kicad.org/9.0/en/kicad/kicad.html" class="underline cursor-pointer">https://docs.kicad.org/9.0/en/kicad/kicad.html</a></li>
            <li>J. Charras, F. Tappero, W. Stambaugh, G. Keeth. "EeSchema." KiCad. Mar. 8, 2026. [Online.] Available: <a href="https://docs.kicad.org/9.0/en/eeschema/eeschema.html" class="underline cursor-pointer">https://docs.kicad.org/9.0/en/eeschema/eeschema.html</a></li>
            <li>J. Charras, F. Tappero, W. Stambaugh, C. Bernardo, J. Evans, G. Keeth. "PcbNew." KiCad. Mar. 8. 2026. [Online.] Available: <a href="https://docs.kicad.org/9.0/en/pcbnew/pcbnew.html" class="underline cursor-pointer">https://docs.kicad.org/9.0/en/pcbnew/pcbnew.html</a></li>
        </ul>
    </section>
</Layout>